{% extends "base_usuario.html" %}
{% block body %}
    <form class="form-signin" role="form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading">Login</h2>
        <input type="text" id="username" name="username" class="form-control" placeholder="Nome" required autofocus>
        <input type="password" id="id_password" name="password" class="form-control" placeholder="senha" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Login</button>
        <input type="hidden" name="next" value="{{ next }}"/>
        {% if form.errors %}
            <div class="alert alert-danger">
                <button type="button" class="close">&times;</button>
                Verifique os dados informados
            </div>
        {% endif %}
        <a href="{% url 'registrar' %}">Cadastrar</a>
    </form>
{% endblock %}
